.img-hover img{
  display: none;
  position:absolute;
  width: 160px;
  left: 10%;
  margin-left: 36px;
  margin-top: 2px;
}
.img-hover:hover img{
  display: block;
}

.events-content{
  height: 96px;
}